<div class="inventory-container">
  <header class="inventory-header">
    <span class="main-title">BakeryManager</span>
    <span class="sub-title">By BrainNova</span>
  </header>

  <main class="inventory-layout">
    <div class="form-section" *ngIf="isFormVisible">
      <app-inventory-item-form (itemAdded)="addItem($event)"></app-inventory-item-form>
    </div>

    <div class="list-section" *ngIf="!isFormVisible">
      <app-inventory-item-list [dataSource]="inventoryItems"></app-inventory-item-list>
    </div>
  </main>

  <button mat-fab extended color="primary" class="fab-button" (click)="toggleForm()">
    <mat-icon>{{ isFormVisible ? 'list' : 'add' }}</mat-icon>
    {{ (isFormVisible ? 'inventory.form.close' : 'inventory.form.open') | translate }}
  </button>
</div>
